body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

/* Section 1 */
.header{
    display: flex;
    background-color: #1F2937;
}

.left{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .herosecond{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}
/* Section 2 */


.signup{
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 5px 20px;
    border: 0;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
